<div class="row header-cont-1">
  <div class="col col-sm-auto disable-select">
    <div class="row justify-content-center align-items-center h-100">
        <img class="logo-cont m-4" src="assets/img/logo1.svg" />
    </div>
  </div>
  
  <div class="col title-cont text-center p-4 disable-select">
    <h1>GREENBORN</h1>
    <h2>Software en crecimiento</h2>
  </div>

  <div class="col col-sm-auto">
    <div class="row justify-content-right align-items-center h-100 pr-3">
        <a href="https://clientes.greenborn.com.ar" target="_blank" type="button" class="btn btn-primary">Área Privada</a>
    </div>
  </div>
</div>
