.header-cont-1{
    background:#000;
    color:#fff;

    .logo-cont{
        width: 8rem;
    }

    .title-cont{
        h1 {
            font-family: "FreeMono", "LiberationMono", "monospace";
            font-size: 4rem;
            font-weight: bold;
            margin:0rem;
        }

        h2 {
            font-family: "FreeMono", "LiberationMono", "monospace";
            margin: 0rem;
        }

    }
}
