<div class="row header-cont-1">
  <div class="col col-sm-auto disable-select">
    <div class="row justify-content-center align-items-center h-100">
        <img class="logo-cont ml-4" src="assets/img/logo1.svg" />
    </div>
  </div>
  
  <div class="col-auto title-cont p-3 disable-select">
    <h1>GREENBORN</h1>
  </div>

  <div class="col"></div>

  <div class="col col-sm-auto">
    <div class="row justify-content-right align-items-center h-100 pr-3">
        <a href="https://clientes.greenborn.com.ar" target="_blank" type="button" class="btn btn-warning">Área Privada</a>
    </div>
  </div>
</div>

<div class="row disable-select vh-100" style="overflow: hidden;position: relative;">
  <img src="assets/img/ie1.jpg" class="img-bg">
  <div class="col">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 bg-descript">
        <div class="row">

          <div class="col pr-4 pl-4">
            <h2 class="mb-3">Empresa de Desarrollo de Software</h2>
            <p>Greenborn es una empresa multiservicio de desarrollo de software a medida.</p>
            <p>Creamos <b>soluciones escalables</b>, iniciando de un producto mínimo el cual se ampliará en el tiempo.</p>
            <p><b>¡No tenemos miedo a copiar ideas!</b>, Puesto que el objetivo final es lograr la eficacia, no la originalidad y la <b>Innovación</b> está en la resolución de desafios.</p>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
