<div class="row header-cont-1">
  <div class="col col-sm-auto">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto"> <img class="logo-cont m-4" src="assets/img/logo1.svg" /> </div>
        <div class="col"></div>
    </div>
  </div>
  
  <div class="col title-cont text-center p-4">
    <h1>GREENBORN</h1>
    <h2>Software en crecimiento</h2>
  </div>

  <div class="col col-sm-auto">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto"> <div class="logo-cont m-4" ></div> </div>
        <div class="col"></div>
    </div>
  </div>
</div>
