<div class="row disable-select text-center">
  <h2 class="mb-3 w-100">Tecnologías</h2>
</div>

<div class="row">
  <div class="col-12">
    
    <div class="container">
      <div class="row">
        <div class="col d-none d-lg-block"></div>
        <div class="d-flex flex-row col-6 col-sm-3 col-md-2 col-lg-1 justify-content-center alig-items-center p-4"
              *ngFor="let r of listado_tecnologias_leng">
              <a href="{{r.url}}" target="_blank"><img src="https://clientes.api.greenborn.com.ar/{{r.img_src}}" class="img-tecno"/></a>
        </div>
        <div class="col d-none d-lg-block"></div>
      </div>
    </div>
  
  </div>
</div>
