.bg-1 {
  background-color: #0c401b;
}

.caratula .logo{
  height:      auto;
  width:       calc(33vw / 2);
  margin-left: calc(33vW * 1.25);
}

.caratula {
  margin-top: -49px;
  padding-top: 49px;
}
