<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minecraft
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row style="padding-bottom:200px;">
    <ion-col>

      <ion-card>
        <ion-card-header>
          <ion-img src="assets/img/mine01.png"></ion-img>
        </ion-card-header>

        <ion-card-content>
          <ion-text color="secondary">
            <h1>Server survival 1.17</h1>
          </ion-text>
          <ion-text>
            <h3>IP: greenborn.com.ar</h3>
          </ion-text>
          <ion-text>
            <h3>Discord: <a href="https://discord.gg/4DdAtr6">https://discord.gg/4DdAtr6</a></h3>
          </ion-text>
          <ion-text>
            <h3>Mapa del mundo (explorado): <a href="http://greenborn.com.ar:8123/">http://greenborn.com.ar:8123/</a></h3>
          </ion-text>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
