<div class="container-fluid">
    <div class="row">
        <app-full-header class="col"></app-full-header>
    </div>

    <div class="row mt-3">
        <app-servicios  class="col"></app-servicios>
    </div>

    <app-separador></app-separador>

    <div class="row mt-3">
        <app-tecnologias class="col"></app-tecnologias>
    </div>

    <app-separador></app-separador>

    <div class="row mt-3">
        <app-contacto  class="col"></app-contacto>
    </div>

    <app-footer></app-footer>
</div>

